h1{
    @include font(22, normal, $gray800, $bold);
    line-height: normal;
    @include pc{
        @include font(30);
    }
}
h2{
    @include font(19, normal, $gray800, $bold);
    @include pc{
        @include fontPc(28);
    }
}
a, button, input{
    transition: all 300ms;
}
.hide{
    opacity: 0;
    transition: all 400ms ease;
}
.ellipsis {
    @include ellipsis;
}
.ellipsis2 {
    @include ellipsis("multi", 2);
}
.ellipsis3 {
    @include ellipsis("multi", 3);
}
.ellipsis4 {
    @include ellipsis("multi", 4);
}
.f11{
    @include font(11);
}
.f12{
    @include font(12);
}
.f13{
    @include font(13);
}
.f14{
    @include font(14);
}

.txt_point{
    color: $point  !important;
}
.txt_red{
    color: #b3261e !important;
}
.txt_black{
    color: #121416 !important;
}
.txt_yellow{
    color: #e9a802 !important;
}
.txt_grean{
    color: #00b54a !important;
}
.txt_gray{
    color: $gray600 !important;
}
.txt_light_gray{
    color: $gray400 !important;
}
.f_medi{
    font-weight: $medi !important;
}
.f_bold{
    font-weight: $bold !important;
}

.logo{
    @include setCont(48px, 48px, inline-block);
    min-width: 48px;
    @include bgSvg(logo(), no-repeat, 50% 50%, 100% auto);
    span{
        @include blind;
    }
}
.btn, a.btn{
    background-color: $point;;
    @include font(16, 19, $gray50, $medi);
    padding: 17px 34px 18px;
    border-radius: 14px;
    text-align: center;
    &:hover, &:active{
        background-color: #6737cc;
        color: $gray50 !important;
    }
    &+.btn{
        margin-left: 8px;
    }
    &.dis, &:disabled{
        background-color: $purple200;
    }
    &.full{
        width: 100%;
        &+.btn{
            margin-left: 0;
        }
    }
    &.half{
        width: 50%;
    }
    &.s_large{
       padding: 13px 26px 14px;
       border-radius: 10px;
       @include pc{
           @include fontPc(16);
       }
    }
    &.s_medi{
        padding: 10px 18px;
        border-radius: 8px;
        @include pc{
            @include fontPc(16);
        }
    }
    &.s_tiny{
        @include font(13);
        padding: 10px 12.5px 9px;
        border-radius: 6px;
        @include pc{
            @include fontPc(13);
        }
    }
    &.l_purple{
        background-color: $purple50;
        color: $point;
        &:hover, &:active, &:focus{
            background-color: $purple200;
            color: $point !important;
            box-shadow: unset;
        }
        &.dis, &:disabled{
            background-color: $purple50;
            color: $purple200;
        }
    }
}
.bx_option{
    @include setCont(100%, auto, flex);
    width: calc(100% + 8px);
    margin-left: -4px;
    flex-wrap: wrap;
}
.btn_option, a.btn_option{
    @include font(13, normal, $gray50, $medi);
    padding: 7px 11px;
    margin: 6px 4px;
    border-radius: 6px;
    text-align: center;
    border: 1px solid $point;
    color: $point;
    @include pc{
        @include fontPc(13);
        padding: 7px 10px;
    }
    &.on{
        background-color: $point;
        color: $gray50 !important;
    }
    &:hover:not(.on), &:active:not(.on){
        background-color: $purple200;
        border: 1px solid $purple200;
        color: $gray50 !important;
    }
}
.icon_electric{
    @include setCont(34px, 34px, block, absolute);
    @include bg("/icon/electric.svg", no-repeat, 50% 50%, 100% auto);
    @include blind;
    z-index: 2;
    @include pc{
        @include setCont(69px, 69px, block, absolute);

    }
}

.colb{
    display: flex;
    justify-content: space-between;
}
input.ipt, .textarea{
    @include setCont(100%, 40px, block, relative, $white);
    border-radius: 8px;
    border: 1px solid $gray200;
    transition: all 300ms;
    &:hover, &:active{
        border: 1px solid #d0d2d5;
        &::placeholder{
            color: #121416;
        }
    }
    &:focus{
        border: 1px solid #636567;
        color: #121416;
    }
    &.red{
        color: $red;
        border: 1px solid $red;
        &::placeholder{
            color: $red;
        }
    }
    &.yellow{
        border-color: #e9a802;
        color: #121416;
        &::placeholder{
            color: #121416;
        }
    }
    &.grean{
        border-color: #00b54a;
        color: #121416;
        &::placeholder{
            color: #121416;
        }
    }
}
.textarea{
    height: 104px;
    @include font(16, normal, $gray400);
    padding: 16px 18px;
    resize: none;
    @include pc{
        @include fontPc(16);
    }
    &::placeholder{
        @include font(16, normal, $gray400);
        @include pc{
            @include fontPc(16, 16);
        }
    }
    &.dis, &:disabled{
        color: #e1e3e7;
        border: 1px solid #e1e3e7;
        &::placeholder{
            color: #e1e3e7;
        }
    }
}
input.ipt{
    height: 40px;
    @include font(16, 16, $gray400);
    padding: 0 18px;
    @include pc{
        @include fontPc(16, 16);
    }
    &::placeholder{
        @include font(16, 16, $gray400);
        @include pc{
            @include fontPc(16, 16);
        }
    }
    &.dis, &:disabled{
        color: #e1e3e7;
        border: 1px solid #e1e3e7;
        &::placeholder{
            color: #e1e3e7;
        }
    }
}
.bx_ipt, .bx_textarea, .bx_search{
    @include setCont(100%, 40px, block, relative);
    .ipt, .textarea{
        height: 100%;
        &:focus {
            padding-right: 35px;
            &+.btn_clear {
                opacity: 1;
            }
        }
        &.dis, &:disabled{
            color: #505254;
            border: 1px solid #edeff2;
            background-color: #edeff2;
            &::placeholder{
                color: #505254;
            }
        }
    }
    &+.btn{
        margin-left: 8px;
    }
    .btn_clear{
        @include setCont(17px, 17px, block, absolute);
        @include bgSvg(btnClose("121416"), no-repeat, 50% 50%, 16px auto);
        @include blind;
        top: 50%;
        right: 11.7px;
        transform: translateY(-50%);
        opacity: 0;
        transition: all 300ms;
        z-index: 2;
    }
    .btn_search{
        @include setCont(36px, 100%, block, absolute);
        @include bgSvg(btnSearch($s_gray500), no-repeat, 50% 50%, 12px auto);
        @include blind;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: all 300ms;
        z-index: 2;
        &:hover{
            opacity: 0.7;
        }
    }
}
.bx_textarea{
    height: 104px;
    .textarea{
        &:focus {
            padding-right: 18px;
            &+.btn_clear {
                opacity: 1;
            }
        }
    }
    .btn_clear{
        top:5px;
        right: 6px;
        transform: unset;
    }
}
.bx_search{
    .ipt{
        border-color: $gray200;
        padding: 0 30px 0 36px;
        &:focus {
            padding-right: 30px;
        }
    }
    .btn_clear{
        @include bgSvg(btnClose($s_gray600), no-repeat, 50% 50%, 16px auto);
        right: 8px;
        @include pc{
            right: 12px;
        }
    }
    &.bx_gray{
        .ipt{
            border-color: $gray100;
            background-color: $gray100;
            &::placeholder{
                color: $gray400;
            }
        }
        .btn_search{
            @include bgSvg(btnSearch($s_gray500), no-repeat, 50% 50%, 12px auto);
        }
    }
}
.bx_slct{
    @include setCont(267px, auto, inline-block, relative);
    transition: all 300ms;
    &:hover{
        .slct_tit{
            color: #121416;
        }
    }
    &.dis{
        border-color: #d0d2d5;
        .slct_tit{
            background-color: #f6f7f9;
            border-color: #f6f7f9;
            color: #505254;
            cursor: context-menu;
            &:after{
                @include bgSvg(arrDown("8a8c8f"), no-repeat, 50% 50%, 100% auto);
            }
        }
    }
    &.red{
        .slct_tit{
            color: #b3261e;
            border-color: #b3261e;
            &:after{
                @include bgSvg(arrDown("b3261e"), no-repeat, 50% 50%, 100% auto);
            }
        }
    }
    .slct_tit{
        @include setCont(100%, 40px, flex, relative, $white);
        @include font(14, 14, #505254);
        padding: 0 15px 0 16px;
        align-items: center;
        transition: all 300ms;
        border: 1px solid #d0d2d5;
        border-radius: 8px;
        @include pc{
            @include fontPc(14, 14);
        }
        &:after{
            @include setCont(11px, 7px, block, absolute);
            @include bgSvg(arrDown("8a8c8f"), no-repeat, 50% 50%, 100% auto);
            transform: translateY(-50%);
            top: 50%;
            right: 15px;
            transition: all 300ms;
        }
    }
    .slct_cont{
        @include setCont(100%, 0, inline-block, absolute, $white);
        padding: 0 8px;
        top: 40px;
        z-index: 5;
        border: 0 solid rgba(255, 255, 255, 0);
        transition: all 300ms;
        overflow: hidden;
        &::-webkit-scrollbar-thumb {
            background: $gray500;
        }
        .slct_item{
            button{
                @include setCont(100%, 40px, block, relative);
                @include font(14,24,#505254, normal);
                @include ellipsis;
                padding: 8px 16px;
                text-align: left;
                @include pc{
                    @include fontPc(14,24);
                }
                &:hover{
                    background-color: $gray100;
                    color: $gray500;
                }
            }
            &.select{
                button{
                    background-color: #edeff2;
                }
            }
        }
    }
    &.on{
        .slct_tit{
            border-radius: 8px 8px 0 0;
            border-color : #636567;
            &:after{
                transform: translateY(-50%) rotate(180deg);
            }
        }
        .slct_cont{
            height: 128px;
            padding: 4px 8px;
            overflow: auto;
            border-radius: 0 0 8px 8px;
            border: 1px solid #636567;
            border-top: none;
        }
        &.red{
            .slct_tit{
                color: #b3261e;
                border-color: #b3261e;
                &:after{
                    @include bgSvg(arrDown("b3261e"), no-repeat, 50% 50%, 100% auto);
                }
            }
            .slct_cont{
                border: 1px solid #b3261e;
                border-top: none;
            }
        }
    }
}
.area_top{
    .inner{
        padding-bottom: 0;
    }
    h2{
        margin-bottom: 15.5px;
    }
}
.show_mobile{
    @include pc{
        display: none !important;
    }
}
.show_pc{
    display: none !important;
    @include pc{
        display: block !important;
    }
}
.btn_txt{
    @include setCont(100%, auto, flex, relative);
    @include font(16,19, $point, $medi);
    justify-content: center;
    padding:17px 16px 18px;
    border-top: 1px solid $gray100;
    &:hover{
        opacity: 0.6;
    }
    @include pc{
        @include fontPc(16);
    }
}
.btn_more{
    @include setCont(100%, 38px, block);
    @include bgSvg(arrDown($s_gray400), no-repeat, 50% 50%, 14px auto);
    @include blind;
    &:hover{
        opacity: 0.6;
    }
}
.btn_filter{
    @include setCont(20px, 15px, block,  relative, $gray100);
    @include bgSvg(btnFilter($s_gray500), no-repeat, 50% 50%, 100% auto);
    @include blind;
    &:hover{
        opacity: 0.6;
    }
}
.bx_tag{
    @include setCont(100%, 22px, block, relative);
    @include ellipsis;
    margin-top: 12px;
    margin-left: -2px;
    &.skeleton {
        min-width: 100%;
    }
    &::after{
        @include setCont(60px, 20px, block, absolute);
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.6+51,0.6+99 */
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 95%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        top: 0;
        right: -2px;
    }
}
.tag{
    display: inline-block;
    display: inline;
    @include font(13, normal, $gray800);
    margin: 0 2px;
    padding: 2px 10px;
    border-radius: 6px;
    vertical-align: top;
    background-color: $gray100;
    vertical-align: middle;
    // opacity: 0.2;
    @include pc{
        @include fontPc(13);
    }
    &.show_pc{
        @include pc{
            display: inline-block !important;
        }
    }
    &.bg_grean{
        background-color: rgba(0, 171, 168, 0.15);
    }
    &.bg_pink{
        background-color: rgba(216, 114, 229, 0.15);
    }
    &.bg_yellow{
        background-color: rgba(250, 215, 51, 0.15);
    }
    &.bg_grean2{
        background-color: rgba(145, 220, 90, 0.15);
    }
    &.bg_pink2{
        background-color: rgba(255, 101, 148, 0.15);
    } 
    &.bg_gray{
        background-color: #ebeced;
    }
    &.w00001 {
        background-color: rgba(109, 200, 42, 0.2) !important;
    }
    &.w00002 {
        background-color: rgba(255, 101, 148 ,0.2) !important;
    }
    &.w00003 {
        background-color: rgba(246, 93, 119 ,0.2) !important;
    }
    &.w00004 {
        background-color: rgba(23, 206, 180 ,0.2) !important;
    }
    &.w00005 {
        background-color: rgba(246, 183, 60 ,0.2) !important;
    }
    &.w00006 {
        background-color: rgba(231, 170, 96 ,0.2) !important;
    }
    &.w00007 {
        background-color: rgba(216, 114, 229 ,0.2) !important;
    }
    &.w00008 {
        background-color: rgba(250, 215, 51 ,0.2) !important;
    }
    &.w00009 {
        background-color: rgba(39, 205, 212 ,0.2) !important;
    }
    &.w00010 {
        background-color: rgba(72, 148, 255 ,0.2) !important;
    }
    &.w00011 {
        background-color: rgba(0, 171, 168 ,0.2) !important;
    }
    &.w00012 {
        background-color: rgba(102, 192, 238 ,0.2) !important;
    }
    &.w00013 {
        background-color: rgba(59, 130, 246 ,0.2) !important;
    }
    &.w00014 {
        background-color: rgba(0, 171, 168 ,0.2) !important;
    }
    &.w00015 {
        background-color: rgba(82, 204, 123 ,0.2) !important;
    }
    &.etc {
        background-color: #d8d8d8
    }




}
.txt_skeleton{
    background-color: $gray100 !important;
    background: linear-gradient(to right,  rgba(247,247,247,1) 0%,rgba(254,254,254,1) 52%,rgba(247,247,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 200% 100%;
    animation: aniSkeleton 3400ms infinite;
    color: $gray100 !important;
    border-radius: 4px;
    display: inline-block;
}
.area_chart.group_skeleton{
    .chart_wrap{
        background-color: $gray100 !important;
        background: linear-gradient(to right,  rgba(247,247,247,1) 0%,rgba(254,254,254,1) 52%,rgba(247,247,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background-size: 200% 100%;
        animation: aniSkeleton 3400ms infinite;
        color: $gray100 !important;
        border-radius: 4px;
        display: inline-block;
    }
}
.btn_share{
    @include setCont(100%, 100%);
    @include bg("/icon/share.png", no-repeat, 50% 50%, 100% auto);
    @include blind;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    &:hover, &:active{
        transform: scale(0.9);
    }
}
.btn_app{
    width: 40px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 300ms;
    &::before{
        @include setCont(100%, 40px, block, relative);
    }
    &+.btn_app{
        margin-left: 40px;
    }
    span{
        @include font(11, normal, $gray700);
        display: block;
        margin-top: 8px;
    }
    &:hover{
        transform: scale(0.9);
    }
}
.btn_instagram{
    &::before{
        @include bg("/icon/instagram.png", no-repeat, 50% 50%, 100% auto);
    }
}
.btn_linkedIn{
    &::before{
        @include bg("/icon/linkedIn.png", no-repeat, 50% 50%, 100% auto);
    }
}
.btn_gmail{
    &::before{
        @include bg("/icon/gmail.png", no-repeat, 50% 50%, 100% auto);
    }
}
.btn_facebook{
    &::before{
        @include bg("/icon/facebook.png", no-repeat, 50% 50%, 100% auto);
    }
}
.bx_chk{
    .chk{
        display: none;
        &:checked+label{
            @include bgSvg(chkFull(), no-repeat, 0 4px, 20px auto);
        }
    }
    label{
        display: block;
        @include font(11,normal, $gray500);
        padding: 6px 0 6px 32px;
        @include bgSvg(chk(), no-repeat, 0 3px, 20px auto);
        word-wrap: break-word;
        transition: all 300ms;
        &:hover, &:active{
            color: $gray400;
        }
    }
}
.txt_skeleton{
    @include skeleton;
    min-height: 20px;
    display: inline-block;
}
form{
    width: 100%;
}
.nodata{
    @include setCont(100%, auto, flex);
    align-items: center;
    justify-content: center;
    min-height: 100px;
    @include pc{
        min-height: 150px;
    }
    p{
        @include font(14, 17, $gray400);
        @include pc{
            @include fontPc(14, 17);
        }
    }
}