.wrap{
    @include setCont(100%, 100vh, flex, relative);
    min-height: 660px;
    flex-direction: column;
}
.header{
    @include setCont(100%, $header, block, fixed);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-shrink: 1;
    // transition: all 500ms ease;
    background-color:$white;
    border-bottom: 1px solid rgba(255,255,255,0);
    opacity: 1;
    z-index: 10;
    // overflow: hidden;
    &.hidden{
        transform: translate(-50%, $header*-1);
        opacity: 0;
    }
    @include pc{
        border-bottom: 1px solid $gray200;
    }
    .inner{
        @include setCont(100%, 100%, flex);
        margin: 0 auto;
        padding: 0 calcPercent(6) 0 calcPercent(16);
        justify-content: space-between;
        align-items: center;
        max-width: 1004px;
        @include pc{
            padding: 0;
            justify-content: flex-start;
        }
    }
    .logo{
        position: relative;
        z-index: 13;
        &:hover{
            opacity: 0.8;
        }
        @include pc{
            margin: 0 21.5px 0 10px;
        }
    }
    .right{
        height: 100%;
    }
    .gnb{
        @include setCont(100%, 0, block, absolute);
        top: -1px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        opacity: 0;
        transition: all 600ms ease; 
        @include pc{
            @include setCont(auto, 100%, block, relative);
            top: 0;
            left: unset;
            right: 0;
            transform: unset;
            transition: unset; 
            opacity: 1;
            z-index: 1;
        }
        &::before{
            @include setCont(100%, 100vh, block, fixed, rgba(136, 136, 136, 0.50));
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
            transition: opacity 200ms ease;
            @include pc{
                display: none;
            }
        }
        .g_inner{
            @include setCont(100%, auto, block, relative, $white);
            padding: $header 0 20px;
            max-height: 0;
            align-items: center;
            z-index: 12;
            overflow: hidden;
            opacity: 0;
            // transition: all 400ms ease; 
            @include pc{
                width: auto;
                max-height: 100vh;
                display: flex;
                padding: 0;
                opacity: 1;
            }
        }
        a{
            @include font(16, normal, $gray800);
            padding: 12px calcPercent(20);
            display: block;
            position: relative;
            height: 43px;
            overflow: hidden;
            opacity: 0;
            @include pc{
                display: inline-block;
                height: 100%;
                margin: 0 5.5px;
                padding: 0 12px;
                @include fontPc(16, 55);
                background-color: $white;
                opacity: 1;
            }
            &::before{
                @include pc{
                    @include setCont(0, 1px, block, absolute, $gray800);
                    left: 50%;
                    bottom: 1px;
                    transform: translateX(-50%);
                    transition: width 300ms;
                }
            }
            &:hover:not(.on){
                opacity: 0.6;
            }
            &.on{
                font-weight: $bold;
                &::before{
                    width: 100%;
                }
            }
        }
        .btn_menu_close{
            @include setCont(20px, 20px, block, absolute);
            @include blind;
            top: 16px;
            right: 20px;
            display: none;
            &::before, &:after{
                @include setCont(18px, 1px, block, absolute, $gray500);
                transition: all 300ms;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &::after{
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            &:hover{
                &::before, &:after{
                    background-color: $gray700;
                }
            }
        }
    }
    .btn_menu{
        @include setCont(48px, 48px, block, relative);
        @include bgSvg(btnMenu($s_gray400), no-repeat, 50% 50%, 100% auto);
        transition: opacity transform 300ms;
        &:hover{
            transform: scale(1.025);
            @include bgSvg(btnMenu($s_gray500), no-repeat, 50% 50%, 100% auto);
        }
        @include pc{
            display: none;
        }
        span{
            @include blind;
        }
    }
    &.open{
        overflow: unset;
        .gnb{
            @include setCont(100%, 100vh, block, fixed);
            display: block;
            top: 0;
            z-index: 11;
            opacity: 1;
            transition: opacity 400ms ease; 
            &::before{
                height: 100vh;
                opacity: 1;
                z-index: 11;
                transition: opacity 400ms ease; 
            }
            .g_inner{
                max-height: 100vh;
                opacity: 1;
            }
            a{
                opacity: 1;
            }
            .btn_menu_close{
                display: block;
            }
        }
    }
}
.container{
    @include setCont(100%, auto, block);
    flex-grow: 1;
    padding-top: $header;
}
.footer{
    width: 100%;
    background-color:  $gray50;
    .inner{
        @include setCont(100%, auto, block, relative);
        padding:  32px calcPercent(20) 86px;
        max-width: 1004px;
        margin: 0 auto;
        @include pc{
            padding: 92px 0 102px;
            justify-content: flex-start;
        }
    }
    a{
        display: block;
        @include font(13, normal, $gray500);
        &:hover{
            color: $gray400;
        }
        @include pc{
            @include fontPc(15);
        }
    }
    .bx_logo{
        @include font(16, normal, $gray500, $bold);
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        @include pc{
            margin-bottom: 25px;
            @include fontPc(23, normal, $gray500, $bold);
        }
        .logo{
            @include setCont(32px, 32px, inline-block);
            @include bgSvg(logoOver($s_gray500), no-repeat, 50% 50%, 100% auto);
            margin-right: 4px;
            transition: all 300ms;
            @include pc{
                @include setCont(40px, 40px);
                margin-right: 10px;
            }
        }
        &:hover{
            color: $gray400;
            .logo{
                @include bgSvg(logoOver($s_gray400), no-repeat, 50% 50%, 100% auto);
            }
        }
    }
    .f_menu{
        margin: 0 0 48px calcPercent(5);
        @include pc{
            margin: 0 0 60px 0;
        }
        a{
            @include font(15);
            @include pc{
                @include fontPc(19);
            }
            &+a{
                margin-top: 13px;
                @include pc{
                    margin-top: 24px;
                }
            }
        }
    }
    .comp{
        margin: 0 0 0 calcPercent(5);
        @include pc{
            margin: 0;
        }
        .cop{
            @include font(13, normal, $gray400);
            margin-top: 8px;
            @include pc{
                @include fontPc(15, normal, $gray400);
            }
        }
    }
}
.wrap{
    .container{
        .inner{
            max-width: 1004px;
            margin: 0 auto;
            padding: 32px calcPercent(24);
            @include pc{
                padding: 0;
            }
        }
    }
}
.main .area5, .area_feadback{
    @include pc{
        background-color: $gray100;
        height: 446px;
    }
    .btn{
        width: 100%;
    }
    .inner{
        padding: 0 !important;
        @include pc{
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
    .c_inner{
        padding: 34px calcPercent(24);
        margin: 0 auto;
        @include pc{
            padding: 0;
        }
    }
    .left{
        border-top: 12px solid $gray100;
        @include pc{
            @include setCont(calcPercent(648,1004), 383px, flex);
            justify-content: space-between;
            align-items: center;
            padding-left: 0;
            border-right: 1px solid $gray300;
            border-top: 0;
            .btn{
                @include setCont(335px, 59px);
            }
        }
        .c_inner{
            padding-top: 32px;
            padding-bottom: 27px;
            @include pc{
                padding: 0;
            }
        }
        p{
            margin: 16px auto 24px;
            @include font(16, normal, $gray800);
            @include pc{
                margin-bottom: 36px;
            }
        }
    }
    .right{
        background-color: $gray100;
        @include pc{
            padding: 0 49px 0 47px;
        }
        .c_inner{
            padding-top: 32px;
            padding-bottom: 28px;
            @include pc{
                width: 312px;
                padding: 0;
            }
        }
        h2{
            @include pc{
                @include fontPc(19);
            }
        }
        p{
            margin: 16px auto 24px;
            @include font(16, normal, $gray800);
            @include pc{
                @include fontPc(16);
            }
        }
        .link_email{
            @include font(16, normal, $gray400, $medi);
            text-align: right;
            display: block;
            &:hover{
                color: $gray500;
            }
            @include pc{
                @include fontPc(16);
            }
        }
        .bx_textarea{
            margin-bottom: 9px;
        }
        .btn{
            margin: 24px 0 16px;
            padding: 16px 34px;
        }
    }
}
.area_top{
    @include setCont(100%, auto, block, relative);
    h2{
        margin-bottom: 15.5px;
    }
}

.area_sw{
    @include setCont(100%, auto, block, relative);
    .btn_prev, .btn_next{
        @include setCont(69px, 0, block, absolute);
        @include blind;
        top: 7px;
        overflow: hidden;
        z-index: 5;
        &::before{
            @include setCont(100%, 100%, block);
            @include bgSvg(arrDown("8a8c8f"), no-repeat, 50% 50%, 12px auto);
            transform: rotate(90deg);
        }
        &:hover{
            opacity: 0.6;
        }
        &.swiper-button-disabled{
            &::before{
                @include bgSvg(arrDown("d0d2d5"), no-repeat, 50% 50%, 12px auto);
            }
        }
        @include pc{
            height: 233px;
        }
    }
    .btn_prev{
        left: 16px;
    }
    .btn_next{
        right: 0;
        &::before{
            transform: rotate(-90deg);
        }
    }
    .sw_pick {
        @include setCont(100%, auto);
        padding:0 calcPercent(24);
        @include pc{
            margin-left: 98px;
            padding: 0;
            width: 356px;
        }
        .swiper-wrapper{
            padding: 6px 2px 26px;
            margin-left: -1px;
            @include pc{
                margin-left: -1px;
                padding-bottom: 0
            }
        }
        .slide{
            @include setCont(252px, 179px, flex, relative);
            width: calcVw(252);
            height: calcVw(179);
            max-width: 364px;
            max-height: 258.55px;
            @include bgSvg(logoOver($s_gray200), no-repeat, 50% 50%, 80px auto);
            margin-left: 2px;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: 10px;
            padding: 4px 4px 5px;
            box-shadow: 0 2px 4px 0 $gray100;
            @include pc{
                width: 324px;
                height: 233px;
                margin-bottom: 6px;
                &:first-child{
                    transform: translateX(1px);
                }
                &:last-child{
                    transform: translateX(-6px);
                }
            }
            .img{
                min-height: 90%;
                max-height: 100%;
            }
            .p_label{
                @include font(13, normal, $gray600, $medi);
                background-color: $gray300;
                padding: 2px 10px 2px 11px;
                border-radius: 8px;
                position: absolute;
                top: 16px;
                left: 8px;
                z-index: 2;
            }
        }
    }
} 
@-webkit-keyframes aniOpen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.ani_open{
    animation-name: aniOpen;
    animation-duration:300ms;
    
}
a.inventors_item{
    &:hover, &:active{
        transform: scale(0.95);
        background-color: $gray50;
    }
}
.inventors_item{
    @include setCont(100%, auto, block, relative, $white);
    padding: 16px calcPercent(19, 328) 17px calcPercent(16, 328);
    box-shadow: 0 2px 4px 1px rgba(55, 55, 72, 0.05);  
    border-radius: 10px;
    @include pc{
        padding: 17px 15px;
        
    }
    &+.inventors_item{
        margin-top: 8px;
    }
    .c_left{
        flex-grow: 1;
        padding-left: 50px;
        position: relative;
        @include pc{
            padding-left: 62.7px;
        }
        .icon{
            @include setCont(34px, 34px, block, absolute);
            top: 2px;
            left: 0;
            @include pc{
                @include setCont(36px, 36px);
            }
        }
        h3{
            @include font(15, normal, $gray800, $medi);
            padding: 0;
            @include pc{
                padding: 0;
                @include fontPc(15);
            }
        }
        .desc{
            @include font(13, normal, $gray500);
            margin-top: 4px;
            @include pc{
                @include fontPc(13);
            }
        }
    }
    .c_right{
        flex-shrink: 0;
        padding: 8px 0 0 10px;
        .txt_top{
            @include font(16, normal, $gray800, $medi);
            @include pc{
                @include fontPc(16);
            }
        }
        .txt_point{
            @include font(19, normal, $point, $medi);
            @include pc{
                @include fontPc(19);
            }
        }
    }
    .bx_tag{
        @include setCont(100%, 20px, block, relative);
        @include ellipsis;
        margin-top: 12px;
        margin-left: -2px;
        .tag{
            display: inline-block;
            @include font(13, normal, $gray800);
            padding: 2px 10px;
            border-radius: 6px;
            vertical-align: top;
            background-color: $gray100;
            @include pc{
                @include fontPc(13);
            }
        }
    }
    &.type1{
        padding: 0 0 24px 0;
        box-shadow: unset;  
        border-radius: 0;
        @include pc{
            padding: 20px 0 24px !important;
        }
    }
    .rank_chart{
        margin-top: 8px;
        @include pc{
            margin-top: 24px;
        }
    }
}
.coming_wrap{
    @include setCont(100%, auto);
    text-align: center;
    .bx_coming{
        @include setCont(100%, 163px, flex);
        @include font(16, normal, $gray500, $medi);
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 32px;
        &::before{
            @include setCont(38px, 47px, block);
            @include bg("/sub/patent/coming.png", no-repeat, 50% 50%, 100% auto);
            margin-bottom: 12px;
        }
        @include pc{
            height: 199px;
            @include fontPc(16);   
            padding-bottom: 36px;
        }
    }
    .btn{
        width: 100%;
        @include pc{
            width: unset;
            padding: 13px 16px 14px;
            @include fontPc(16);
            margin: 0 auto;
            border-radius: 10px;
        }
    }
}
.rank_chart{
    @include setCont(100%, 20px,block, relative, $gray100);
    border-radius: 6px;
    .bar{
        @include setCont(20px, 100%, block, absolute, $point);
        @include blind;
        top: 0;
        border-radius: 6px;
        right: 0;
        @include pc{
            width: 36px;
        }
    }
}