.main{
    &.container{
        padding-top: 0;
        .inner{
            padding: 34px calcPercent(24);
            @include pc{
                padding: 0;
            }
        }
    }
    .btn{
        width: 100%;
    }
    .area1{
        @include setCont(100%, 365px, block);
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #e3dff4);
        @include pc{
            height: 490px;
        }
        .inner{
            @include setCont(100%, 100%, flex, relative);
            padding: 0;
            // height: 365px;
            flex-direction: column;
            align-items: center;
            transition: all 300ms;
            animation-name: aniMainLoading1;
            animation-duration: 400ms;
            animation-iteration-count: 1;
            @include pc{
                flex-direction: unset;
            }
        }
        .left{
            text-align: center;
            position: relative;
            @include pc{
                @include setCont(490px, 100%);
            }
            &::before{
                @include setCont(90px, 50px, block, absolute);
                @include bg("/main/img1_3.png", no-repeat, 0 0, 98px auto);
                bottom: -82px;
                left: -27px;
                animation-name: aniMain2; 
                animation-duration: 800ms;
                animation-timing-function: linear;
                animation-iteration-count: infinite ;
                animation-direction:alternate;
                z-index: 3;
                @include pc{
                    @include setCont(150px, 100px);
                    top: 96px;
                    right: -161px;
                    background-size: 130px !important;
                    left: unset;
                    bottom: unset;
                }
            }
            &::after{
                @include setCont(50px, 75px, block, absolute);
                @include bg("/main/img1_1.png", no-repeat, 2px -71px, 284.59px auto);
                bottom: -196px;
                left: -37px;
                animation-name: aniMain3;
                animation-duration: 4000ms;
                animation-timing-function: linear;
                animation-iteration-count: infinite ;
                // animation-direction:alternate;
                z-index: 1;
                @include pc{
                    @include setCont(60px, 100px);
                    top: 196px;
                    right: -59px;
                    background-size: 394.5px !important;
                    background-position: 2px -99px !important;
                    left: unset;
                    bottom: unset;
                }
            }
        }
        .right{
            text-align: center;
            position: relative;
            &::before{
                @include setCont(27px, 28px, block, absolute);
                @include bg("/main/img1_1.png", no-repeat, -234px -137px, 285px auto);
                top: 172px;
                right: 24px;
                animation-name: aniMain1; 
                animation-duration: 3000ms;
                animation-timing-function: linear;
                animation-iteration-count: infinite ;
                animation-direction:reverser;
                z-index: 2;
                @include pc{
                    @include setCont(39px, 40px);
                    top: 189px;
                    right: 32px;
                    background-size: 394px auto !important;
                    background-position: -323px -188px !important;
                }
            }
            &::after{
                @include setCont(42px, 42px, block, absolute);
                @include bg("/main/img1_2.png", no-repeat, 0 0, 42px auto);
                top: 134px;
                right: -3px;
                animation-name: aniMain1; 
                animation-duration: 5000ms;
                animation-timing-function: linear;
                animation-iteration-count: infinite ;
                z-index: 2;
                @include pc{
                    @include setCont(56px, 56px);
                    top: 139px;
                    right: -2px;
                    background-size: 55px auto !important;
                }
            }
        }
        h1{
            @include font(22, normal, $point, $bold);
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: 16px auto 0;
            @include pc{
                margin: 197px auto 9px;
            }
        }
        h3{
            @include font(16, normal, $purple400, $medi);
        }
        .img1{
            display: block;
            width: 284.6px;
            margin: 35px auto 32px;
            position: relative;
            z-index: 2;
            @include pc{
                width: 394.5px;
                margin: 0 auto;
            }
        }
    }
    .area2{
        position: relative;
        z-index: 3;
        background-color: $white;
        width: 100%;
        @include pc{
            background-color: unset;
            margin-top: -38px;
            overflow-x: hidden;
        }
        .inner{
            padding-top: 30px;
            padding-bottom: 28px;
            width: 100%;
            @include pc{
                display: flex;
                justify-content: space-between;
                // margin-top: -38px;
                padding: 0 0 100px;
            }
        }
        .left, .right{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            animation-name: aniMainLoading4;
            animation-duration: 400ms;
            animation-iteration-count: 1;
            @include pc{
                width: 50%;;
                justify-content: flex-start;
            }
        }
        .left{
            @include pc{
                animation-name: aniMainLoading2;
                animation-duration: 600ms;
                animation-iteration-count: 1;
            }
            
        }
        .right{
            @include pc{
                justify-content: flex-end;
                align-content:space-between;
                animation-name: aniMainLoading3;
                animation-duration: 600ms;
                animation-iteration-count: 1;
            }
        }
        .unit{
            width: calcPercent(148, 312);
            min-width: 148px;
            height: 160px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 8px 0;
            border-radius: 10px;
            box-shadow: 0 2px 4px 0 rgba(39, 43, 55, 0.16);
            background-color: #fff;
            @include pc{
                margin: 0;
                align-content: flex-start;
                justify-content: center;
            }
            &:hover{
                background-color: $gray50;
                box-shadow: 0 2px 4px 0 rgba(39, 43, 55, 0.3);
                transform: scale(0.95);
            }
            .bx_img{
                width: 100%;
                max-width: 130px;
                margin: 0 auto;
                transition: all 300ms;
                @include pc{
                    max-width: 100%;
                }
            }
            img{
                display: block;
                margin: 0 auto;
                @include pc{
                    transform: unset;
                }
            }
            p{
                @include font(16, normal, $purple600, $medi);
                text-align: left;
                padding: 0 calcPercent(16,148) 16px;
                word-break: keep-all;
                @include pc{
                    width: 100%;
                    text-align: center;
                    @include fontPc(19);
                    font-weight: $bold;
                }
                span{
                    min-width: 100px;
                    display: block;
                    @include pc{
                        min-width: 0;
                        display: inline-block;
                    }
                }
            }
            &.link_univ{
                padding-top: 18px;
                @include pc{
                    padding-top: 34px;
                    margin-right: 17px;
                }
                img{
                    width: 129px;
                    transform: translateX(calcPercent(-4.5, 129));
                    margin-bottom: 9px;
                    @include pc{
                        width: 193px;
                        margin-bottom: 38px;
                    }
                }
            }
            &.link_comp{
                padding-top: 14px;
                @include pc{
                    padding-top: 28px;
                }
                img{
                    width: 96.6px;
                    margin-bottom:5px;
                    @include pc{
                        width: 144px;
                        margin-bottom: 32px;
                    }
                }
            }
            &.link_univ, &.link_comp{
                @include pc{
                    width: 238px;
                    @include setCont(238px, 254px);
                }
            }
            &.link_patent{
                padding-top: 16px;
                img{
                    width: 83px;
                    transform: translateX(calcPercent(16, 83));
                    margin-bottom:7px;
                    @include pc{
                        width: 77px;
                        margin: 0 auto;
                        transform: translateX(-2px);
                    }
                }
            }
            &.link_inven{
                padding-top: 19.7px;
                @include pc{
                }
                img{
                    width: 69.9px;
                    transform: translateX(calcPercent(29.5, 69.9));
                    margin-bottom:9.3px;
                    @include pc{
                        margin: 0 auto;
                        transform: translateX(-1.5px);
                    }
                }
            }
            &.link_patent, &.link_inven{
                @include pc{
                    @include setCont(494px, 119px);
                    justify-content: flex-start;
                    align-content: center;
                    padding: 0;
                    .bx_img{
                        width: 137px;
                        margin: 0;
                    }
                    p{
                        width: auto;
                        padding: 0;
                    }
                }
            }
        }
    }
    .area3{
        @include setCont(100%, auto, block, relative, $purple500);
        @include font(16, normal, $gray50);
        text-align: center;
        @include pc{
            @include setCont(100%, 645px);
            @include fontPc(19);
            margin: 41px 0;
            background-color: $purple400;
        }
        .inner{
            padding-top: 33px;
            padding-bottom: 41px;
            @include pc{
                @include setCont(834px, 727px, block, absolute, $purple500);
                outline: 16px solid $white;
                top: -41px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                padding: 96px 85px 134px 86px;
                transition: all 300ms;              
                &:hover{
                   transform: translateX(-50%) scale(1.05);      
                   background-color: $purple600;
                }
            }
        }
        h2{
            margin-bottom: 32px;
            color: $gray50;
            @include pc{
                margin-bottom: 75px;
                @include fontPc(26);
            }
        }
        .cont{
            text-align: left;
        }
        p+p{
            margin-top: 19px;
            @include pc{
                margin-top:22px;
            }
        }
        .txt_right{
            margin-top: 38px;
            text-align: right;
            @include pc{
                margin-top:44px;
            }
        }
    }
    .area4{
        .inner{
            padding: 36px calcPercent(13.5) 21px;
            @include pc{
                padding: 100px 0 112px;
                width: 922px;
            }
        }
        h2{
            text-align: center;
            padding-bottom: 11px;
            @include pc{
                @include fontPc(30);
            }
        }
        .cont{
            @include setCont(100%, auto, flex);
            flex-wrap: wrap;
            justify-content: center;
            max-width: 450px;
            margin: 0 auto;
            @include pc{
                max-width: 100%;
                justify-content: space-between;
            }
        }
        .team_mem{
            margin: 24px 0;
            @include setCont(null, auto, block, relative);
            width: calcPercent(104, 333);
            min-width: 104px;
            text-align: center;
            margin: 24px calcPercent(30.5, 333);
            // &::before, &::after{
            //     @include setCont(0, 0, block, absolute, $purple200);
            //     border-radius: 50%;
            //     transition: all 300ms;
            //     z-index: 1;
            // }
            // &::before{
            //     top: 0;
            //     left: 0;
            // }
            // &::after{
            //     background-color: $purple400;
            //     top: 29px;
            //     left: -7px;
            // }
            // h3{
                // &::before, &::after{
                //     // #9887ff
                //     @include setCont(10px, 10px, block, absolute, #9887ff);
                //     border-radius: 50%;
                // }
                // &::before{
                //     top: -5px;
                //     left: 2px;
                // }
                // &::after{
                //     @include setCont(15px, 15px);
                //     top: 15px;
                //     left: -22px;
                // }
            // }
            &:hover{
                &::before{
                    @include setCont(40px, 40px);
                }
                &::after{
                    @include setCont(15px, 15px);
                }
                img{
                    transform: scale(1.1);
                }
            }
            @include pc{
                width: 154px;
                margin: 60px 0 0;
            }
            img{
                width: calcPercent(96, 104);
                display: block;
                position: relative;
                z-index: 2;
                transition: all 300ms;
                @include pc{
                    width: 100%;
                }
            }
            h3{
                @include font(16, normal, $point, $bold);
                margin: 16px auto 2px;
                @include pc{
                    @include fontPc(19);
                    margin: 24px auto 12px;
                }
            }
            p{
                @include font(13, 18, $gray800, $medi);
                @include pc{
                    @include fontPc(16);
                }
                span{
                    display: block;
                }
            }
        }
    }
}