.login{
	&.container {
		.inner{
			width: 100%;
			padding: 0 24px;
			max-width: 500px;
		}
		h2{
			@include font(19, 23, $gray800);
			text-align: center;
			padding:  28px 0;
		}
		.colb{
			width: 100%;
		}
		.btn{
			&+.btn{
				margin: 12px 0 0 0;
			}
		}
	}
	.area_easy, .area_normal{
		width: 100%;
	}
	.area_easy{
		@include setCont(100%, auto, block, relative);
		padding: 0 0 40px 0;
	}
	.area_normal{
		@include setCont(100%, auto, block, relative);
		padding: 38.5px 0 56px 0;
		&::before{
			@include setCont(100%, 1px, block, absolute, $gray200);
			z-index: 1;
			top: 0;
			left: 0;
		}
		&::after{
			content: "OR";
			display: inline-block;
			background-color: $white;
			padding: 0 9px;
			@include font(15,18, $gray400);
			z-index: 2;
			position: absolute;
			top: -9px;
			left: 50%;
			transform: translateX(-50%);
		}
		.ipt{
			&+.ipt{
				margin-top: 16px;
			}
		}
		.btn{
			margin-top: 24px;
		}
		p{
			margin-top: 16px;
			@include font(15, 18);
			a{
				@include font(15, 18, $gray400);
				&.txt_point{
					text-decoration: underline;
				}
				&:hover{
					text-decoration: underline;
				}
			}
			.txt_point{
				font-weight: $medi;
			}
		}
	}
}